RewriteEngine on

RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$" [NC]
RewriteRule .* - [L,R=404]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RedirectMatch 404 ^/include/.*$
RedirectMatch 404 ^/bin/.*$
RedirectMatch 404 ^/src/.*$
RedirectMatch 404 ^/vendor/.*$
ErrorDocument 404 /404
